body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: #f5f5f5;
}

.signup-form-container {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/scattered-forcefields.svg) no-repeat center/contain;
}

.signup-form-container .signup-form {
  z-index: 0;
  zoom: 110%;
  -webkit-box-shadow: 0 0 3px #0000005a;
          box-shadow: 0 0 3px #0000005a;
  min-width: 300px;
  border-radius: 5px;
  padding: 10px 30px 20px 20px;
  background: #FFFFFF;
}

.signup-form-container .signup-form h2 {
  margin-left: 10px;
}

.signup-form-container .signup-form fieldset {
  margin: 7px 0;
  border: none;
}

.signup-form-container .signup-form fieldset label,
.signup-form-container .signup-form fieldset input {
  width: 100%;
}

.signup-form-container .signup-form fieldset label {
  font-size: 14px;
  font-weight: 400;
}

.signup-form-container .signup-form fieldset input {
  margin: 4px 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 1px #0000005a inset;
          box-shadow: 0 0 1px #0000005a inset;
  padding: 10px 6px;
  outline: none;
  border: none;
}

.signup-form-container .signup-form fieldset .signup-btn {
  background: #e9e5e5;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-radius: 0;
  padding: 6px 12px !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
}

.signup-form-container .signup-form fieldset .signup-btn:hover {
  background: #e2dfdf;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup-form-container .signup-form fieldset a {
  margin: 0 auto;
  font-size: 11px;
  text-decoration: none;
  color: steelblue;
}

.signin-form-container {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/scattered-forcefields.svg) no-repeat center/contain;
}

.signin-form-container .signin-form {
  z-index: 0;
  zoom: 110%;
  -webkit-box-shadow: 0 0 3px #0000005a;
          box-shadow: 0 0 3px #0000005a;
  min-width: 300px;
  border-radius: 5px;
  padding: 10px 30px 20px 20px;
  background: #ffffff;
}

.signin-form-container .signin-form h2 {
  margin-left: 10px;
}

.signin-form-container .signin-form fieldset {
  margin: 7px 0;
  border: none;
}

.signin-form-container .signin-form fieldset label,
.signin-form-container .signin-form fieldset input {
  width: 100%;
}

.signin-form-container .signin-form fieldset label {
  font-size: 14px;
  font-weight: 400;
}

.signin-form-container .signin-form fieldset input {
  margin: 4px 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 1px #0000005a inset;
          box-shadow: 0 0 1px #0000005a inset;
  padding: 10px 6px;
  outline: none;
  border: none;
}

.signin-form-container .signin-form fieldset .signin-btn {
  background: #e9e5e5;
  outline: none;
  border: 0;
  border-radius: 0;
  padding: 6px 12px !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}

.signin-form-container .signin-form fieldset .signin-btn:hover {
  background: #e2dfdf;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signin-form-container .signin-form fieldset a {
  margin: 0 auto;
  font-size: 11px;
  text-decoration: none;
  color: steelblue;
}

.container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 15vh;
  text-align: center;
}

.logout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logout-btn button {
  margin: 15px 20px;
  font-size: 15px;
  border: 0;
}

.logout-btn button:hover {
  -webkit-box-shadow: 0 0 4px #0000001a;
          box-shadow: 0 0 4px #0000001a;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-main {
  width: 500px;
  padding: 10px;
  background: rgba(224, 223, 219, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 10px #0000001a inset;
          box-shadow: 0px 0px 10px #0000001a inset;
}

.myinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myinput input {
  width: 450px;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #0000001a;
          box-shadow: 0 0 5px #0000001a;
}

.myinput input::-webkit-input-placeholder {
  font-size: 12px;
}

.myinput input:-ms-input-placeholder {
  font-size: 12px;
}

.myinput input::-ms-input-placeholder {
  font-size: 12px;
}

.myinput input::placeholder {
  font-size: 12px;
}

button {
  padding: 6px 12px;
  background: #fff;
  margin: 0 5px;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px #0000001a;
          box-shadow: 0 0 5px #0000001a;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 0px 0px 5px #0000003a;
          box-shadow: 0px 0px 5px #0000003a;
}

.todos {
  padding-left: 6px;
}

.mainlist {
  -webkit-box-shadow: 0 0 5px #0000001a inset;
          box-shadow: 0 0 5px #0000001a inset;
  padding: 2px 10px 10px 10px;
  margin: 15px 0;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainlist .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.date p {
  outline: none;
  font-size: 12px;
  border: 0.25px solid #0000003a;
  background: transparent;
  padding: 2px 5px;
  margin: 0px 4px;
  border-radius: 3px;
  font-style: italic;
  color: grey;
}

.list h4 {
  margin: 10px 0;
  width: 450px;
  background: #fff;
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px #0000001a;
          box-shadow: 0 0 5px #0000001a;
  border-radius: 3px;
  font-weight: 500;
}

.list button:nth-child(2) {
  background: #4bb543;
  color: #fff;
}

.list button:nth-child(3) {
  background: red;
  color: #fff;
}

.list button:nth-child(4) {
  background: #12b9e2;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main {
    zoom: 95%;
  }
  .sub-main {
    width: 415px;
  }
}

@media screen and (max-width: 375px) {
  .main {
    zoom: 85%;
  }
  .sub-main {
    width: 340px;
  }
}

.active {
  text-decoration-thickness: 1.5px;
  -webkit-text-decoration-color: rgba(78, 84, 92, 0.658);
          text-decoration-color: rgba(78, 84, 92, 0.658);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(78, 84, 92, 0.658);
  font-weight: 100;
}
/*# sourceMappingURL=App.css.map */